<h1>Hello Word</h1>
<a href="https://www.w3schools.com">link dẫn đến trang w3schools</a>
<h2 style="color:blue;">This is a heading</h2>
<p style="color:red;">This is a paragraph.</p>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Home</button>
<button type="button" class="btn btn-info">Student</button>
<button type="button" class="btn btn-warning">Employee</button>
<button type="button" class="btn btn-danger">MVC</button>
<button type="button" class="btn btn-link">Link</button>