<form class="w3-card-4" asp-action="giaiphuongtrinhbac2">
<label>Nhap so a:</label>
<input type="text" name="a">
<br>
<label>Nhap so b:</label>
<input type="text" name="b">
<br>
<label>Nhap so c:</label>
<input type="text" name="c">
<br>
 <input class="w3-btn w3-blue w-primary" type="submit" value="giaiphuongtrinhbac2">
</form>
