<h1>Chào mừng các bạn</h1>
<b>
<p style="font-size:160%;"></p>
<p style="color:red;">Sở thích của bạn là gì.</p></b>
<tr>
                            <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Ăn'>Nghe nhạc
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Nghe nhạc'>Nghe nhạc
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Chơi'>Chơi
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Đi du lịch'>Đi du lịch
                             </td>
                        </tr>
<h2>Chào mừng các bạn đến với PTPMQL</h2>
<form asp-action="Index">
   <label>FullName</label>
   <input type="text" name="FullName">
   <input type="submit" value="send">
</form>
<h3>@ViewBag.abc</h3>