@model BaoCaoBaiTapLonNhom02.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Sinh viên điền thông tin và nhóm Môn </h1>

<h4>Sinh viên điền đầy đủ thông tin cá nhân</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaID" class="control-label"></label>
                <input asp-for="MaID" class="form-control" />
                <span asp-validation-for="MaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhom" class="control-label"></label>
                <select asp-for="MaNhom" class ="form-control" asp-items="ViewBag.MaNhom"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaCathi" class="control-label"></label>
                <select asp-for="MaCathi" class ="form-control" asp-items="ViewBag.MaCathi"></select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
