<h1>Vết hoa ký tự đầu tiên</h1>
<form  asp-action="CapitalizeOneFirstCharacter">
    <label>Nhập kí tự</label>
    <input type= "text" name= "strInput">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.d</h2>