<h2>RemoveRemainingWhiteSpace</h2>
<form asp-action="Index">  
<label>Nhập chuỗi:</label>
<input type ="text" name ="strInput">
        <input type="submit" value="Xử lý chuỗi">
</form>
<h3>@ViewBag.thongBao</h3>
