<h1>Đổi  sang hoa tất</h1>
<form  asp-action="LowerToUpper">
    <label>NhậP chuỗi:</label>
    <input type= "text" name= "strInput">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.b</h2>