<h1>Đổi chữ Hoa thành chữ thường</h1>
<form  asp-action="UpperToLower">
    <label>NhậP chuỗi:</label>
    <input type= "text" name= "strInput">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.c</h2>