@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <b><h1>Sinh viên chú ý:</h1></b>
    <h2>Sử dụng email HUMG để truy cập vào dự thi"Bạn nào quên mật khẩu lấy lại trước ngày thi</h2>
    <h3>Địa điểm kết thúc học phần môn Tin học văn phòng nâng cao tại tầng 5 nhà C 12 tầng</h3>
    <h4>Ngày thi 15/04/2023</h4>
</div>
