@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
  <b><h1>Sinh viên chú ý:</h1>
  <h2>Sử dụng email HUMG để truy cập dự thi
    <br>
    Bạn nào quên mật khẩu thì cần lấy lại trước ngày thi
  </h2>
  <h3>Địa điểm thi kết thúc học phần Phòng máy tầng 5 nhà C 12 tầng</h3>
  <h4>Ngày thi 15/04/2023</h4>
  <h5>Mỗi ca thi có tối đa 80SV</h5>
  </b>
   
</div>
