@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <h1 class="display-4"><b>Sinh viên chú ý:</b></h1>
    <br>
    <p>- Sử dụng email HUMG để đăng nhập vào dự thi
        <br>
        - Địa điểm đi chú ý trên trang đào tạo
        <br>
        - Sinh viên chọn đúng nhóm môn học để đăng ký
        <br>
        - Link đóng vào
    </p>
    
    <style>
        p{
            font-size: 30px;
        }
    </style>
</div>
