@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
<p>@ViewBag.thongbao <a href="http://localhost:5285/Home/index">
<br>
Quay lại trang chủ</a>.</p>
</div>
<style>
    p{
        font-size: 40px;
    }
</style>