<form asp-action="Create">
    <label>EmployeeName</label>
    <input type="text" name="EmployeeName">
    <br>
     <label>PhoneNumber</label>
    <input type="text" name="PhoneNumber">
    <br>
<input type="submit" value="Submit">
</form>
<h1>@ViewBag.message</h1>