<body>
    <h1>MVC</h1>

      <style>
         h1{
            text-align: center;
            background-color: powderblue;
         }
       h2{
           color: Red;

       }

      </style>
</body>

<h2>Chào mừng các bạn đã đến với MVC</h2>
<b><p>MVC là viết tắt của cụm từ “Model-View-Controller“. Đây là mô hình thiết kế được sử dụng trong kỹ thuật phần mềm. MVC là một mẫu kiến trúc phần mềm để tạo lập giao diện người dùng trên máy tính. MVC chia thành ba phần được kết nối với nhau và mỗi thành phần đều có một nhiệm vụ riêng của nó và độc lập với các thành phần khác</p>
</b>