@model BaoCaoBaiTapLonNhom02.Models.SinhVien

@{
    ViewData["Title"] = "Delete";
}
<h3>Bạn có muốn xóa thông tin Sinh viên</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nhom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nhom.MaNhom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSV" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
