<form asp-action="Create">
    <label>StudentCode</label>
    <input type="text" name="StudentCode">
    <br>
     <label>FullName</label>
    <input type="text" name="FullName">
    <br>
     <label>Address</label>
    <input type="text" name="Address">
    <br>
<input type="submit" value="Submit">
</form>
<h1>@ViewBag.abc</h1>